## Exercício 1

Modifique o exemplo abaixo (tabuada) para gerar as tabuadas de 1 a 10

```
print('+-----------------+')
print('|   TABUADA DE 2  |')
print('+-----------------+')

for i in range(11):
    print('| 2  x %2s   = %2s' % (i, 2*i), ' |')
    
print('+-----------------+')
```

In [ ]:
print('+-----------------+')
print('|TABUADA DE 1 A 10|')
print('+-----------------+')
for i in range(11):
    for i2 in range(11):
        print('| %2s  x %2s   = %2s' % (i,i2, i*i2), ' |')
    print('+-----------------+')

## Exercício 2
Sejam as listas abaixo referentes aos nomes de alunos e suas respectivas notas do 1º, 2º e 3º VA's. Crie um programa que calcule a média de cada aluno, e imprima o seu nome, a média calculada e o status, 'APROVADO' caso a média seja maior ou igual a 7,0 (sete) e 'REPROVADO' caso contrário.

In [1]:
notas_alunos = [['Zezé di Camargo', 4.5, 8, 9.5],
                ['Gretchen Babado', 6, 7.5, 4],
                ['Luan Santana', 7.5, 5.8, 9.5],
                ['Pablo Vittar', 4.5, 8.7, 6],
                ['Joelma Calypso', 10, 7.8, 9.5],
                ['Conde do Brega', 9.8, 8, 9.5]]
                
media=0
for i in range(len(notas_alunos)):
    media = (notas_alunos[i][1] + notas_alunos[i][2] + notas_alunos[i][3])/3
    if media >= 7:
        print('Aluno {} foi APROVADO com media {:.1f}'.format(notas_alunos[i][0],media))
    else:
        print('Aluno {} foi REPROVADO com media {:.1f}'.format(notas_alunos[i][0],media))
    print('\n')

## Exercício 3
Seja a função matemática definida abaixo:
$$f(n) = n^2+1$$
Escreva um programa em python, que calcule o valor de f(n) para todos os números no intervalo `[0,100]`, e armazene todos os valores calculados em uma lista

In [ ]:
lista = []
for i in range(101):
    x = i**2 + 1
    lista.append(x)

## Exercício 4
Escreva um programa em python que imprima na tela todos os números ímpares de 0 a 1000.

In [ ]:
for i in range(1001):
    if i % 2 != 0:
        print(i)